@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

:root {
  --primary-color: #1F263E;
  --secondary-color: rgb(1 192 170 / 15%);

  --accepted-color: #3aa3a3;
  --accepted-bg: #3aa3a326;
  --pending-color: #ffc246;
  --pending-bg: #ffc24626;
  /* --secondary-color : rgba(1, 192, 170, 15%); */
}



@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);

}